/* ===== Team Cards Component ===== */

.team-card {
    display: grid;
    min-height: 100%;
    grid-template-columns: 1fr 1.2fr;
    gap: 1.25rem;
    background: #0f1522;
    border: 4px solid #1a2336;
    outline: 6px solid #0b0e13;
    box-shadow: 0 14px 0 #000;
    padding: 1rem;
    background-clip: padding-box;
}

/* ===== Team Card Avatar ===== */
.team-card .team-card-avatar {
    background: #0a0f19;
    max-width: 600px;
    border: 4px solid #223255;
    outline: 4px solid #0b0e13;
    padding: 0.5rem;
    display: grid;
    place-items: center;
}

.team-card .team-card-avatar img {
    width: 100%;
    max-width: 450px;
    height: auto;
    display: block;
    cursor: pointer;
}

/* ===== Team Card Info ===== */
.team-card .team-card-info p .lbl {
    color: #8be9fd;
    background: #13203a;
    padding: 0.25rem 4px 0.4rem;
    margin-right: 0.5rem;
    border: 2px solid #294a7a;
}

.lista {
    text-align: left;
    
    & h2 {
    font-family: var(--font-title);
    margin: 0 0 0.5rem 0;
    font-size: 0.9rem;
    color: #ffd166;
    }
    & li {
        list-style: square inside;
        & a {
        font-family: var(--font-mario);
    }
}

}

/* ===== Team Card Responsive ===== */
@media (max-width: 900px) {
    .team-card {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 600px) {
    .team-card {
        padding: 0.5rem;
        gap: 1rem;
    }
}